.video-box {
 width: 100%;
 max-width: 450px;
 margin: 0 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.video-box > .text {
  margin: 0px auto 20px;
}

.video-box__video {
  width: 90%;
  height: 50vw;
  max-height: 250px;
}

.video-box__video iframe {
  width: 100%;
  height: 100%;
}
